<head><title>Welcome</title></head>

Scala Selenium Driver
-------------

This library provides a Scala-based wrapper for launching and using selenium.
Please see the documentation for more information.

To use this library, add the following snippet to your _pom_ file:

```xml
<dependencies>
    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
    </dependency>
</dependencies>
```
